.header-container {
  width: 80vw;
  margin: 0 auto;
}

.header-image {
  width: 100px;
  height: 100px;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .logo-container {
    height: 100%;
    width: 100px;
    margin-left: 50px;
  }
}

.options {
  height: 100%;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;

  .option {
    // padding: 10px 15px;
    cursor: pointer;
    color: rgb(0, 115, 170);
    font-weight: 600;
    font-family: "Crimson Text", "Baskerville Old Face", Garamond,
      "Times New Roman", serif;
    font-size: 22px;
  }

  .option:hover {
    color: #005077;
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .hamburger {
    width: 100%;
  }

  .options {
    justify-content: center;
  }
}
