.anchor {
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  background-color: #3e4559;
  border-radius: 5px;
  padding: 25px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.about-us-text {
  color: azure;
  font-size: 25px;
}
