body {
  padding: 0;
}

.App {
  text-align: center;
  padding: 0;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: "Crimson Text", "Baskerville Old Face", Garamond,
    "Times New Roman", serif;
}
